html,
body {
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

body {
    color: #626262;
}

::-webkit-scrollbar {
    height: 6px;
    width: 10px;
    background: lightsalmon;
    z-index: 5;
}

::-webkit-scrollbar-thumb:horizontal {
    background: white;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:vertical {
    background: #bbb;
    border-radius: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Fjalla One', sans-serif;
}

p {
    font-family: 'Quicksand', sans-serif;
}

/* UNIVERSAL COMPONENTS */

.title {
    font-size: 2em;
    margin: 0.5em 0 0.3em 0;
    padding-bottom: 0.2em;
    text-align: center;
}

.title-line {
    width: 5em;
    height: 1px;
    background-color: tomato;
}

.page {
    width: 100%;
    height: auto;
    padding: 0;
}

.partial-page {
    width: 100%;
    height: auto;
    padding: 2em 0 4em 0;
}

/* position content from middle */

.content {
    width: 80%;
    height: auto;
    margin: 0 auto;
}

@media only screen and (max-width: 700px) {
    .content {
        width: 100%;
        padding: 0 1em;
    }
}

/* HEADER AND ITS COMPONENTS */

.header {
    width: 100%;
    height: 6em;
    padding-top: 1em;
    padding-bottom: 1em;
    position: fixed;
    z-index: 3;
    background: linear-gradient(to bottom, darkslategray 0%, transparent 100%);
}

.header.active {
    color: #626262;
    background-color: white;
    border-bottom: 1px solid tomato;
}

.website-logo {
    width: 6em;
    height: 4em;
    float: left;
}

.site-links-box {
    color: white;
    width: auto;
    height: 100%;
    float: right;
    display: inline-flex;
}

.site-links-box p {
    color: white;
    margin-right: 0.5em;
    padding: 0.25em 0.75em;
    border: 1px solid transparent;
    cursor: pointer;
}

.site-links-box a{
    text-decoration: none;
}

.site-links-box p:hover {
    color: tomato;
    transition: all 0.30s ease-in-out;
}

#contact-header-link {
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: em;
}

#contact-header-link:hover {
    color: white;
    border: 1px solid deepskyblue;
    background-color: deepskyblue;
    transition: all 0.30s ease-in-out;
}

.desktop-view {
    display: inline-flex;
}

.desktop-view a{
    text-decoration: none;
}


/* solid header */

.solid-header {
    width: 100%;
    height: 6em;
    padding-top: 1em;
    padding-bottom: 1em;
    position: fixed;
    z-index: 3;
    background-color: white;
    box-shadow: 5px 0px 5px;
}

.solid-header p {
    color: #626262;
}

.solid-header #contact-header-link {
    color: #626262;
    border: 1px solid deepskyblue;
}

.solid-header #contact-header-link:hover {
    color: white;
}

/* menu icon - compact view */

.menu-icon {
    width: 3em;
    height: 3em;
    float: right;
    display: none;
    margin-top: 0.65em;
    margin-right: 1em;
    padding: 0.5em;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.menu-icon:hover {
    transform: scale(0.95);
    background-color: rgba(0, 0, 0, 0.2);
    transition: all 0.30s ease-in-out;
}

@media only screen and (max-width: 700px) {
    .desktop-view {
        display: none;
    }
    .menu-icon {
        display: block;
    }
}

/* drop-down menu */

/* The side navigation menu */

.home-menu {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 4;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: rgba(47, 79, 79, 0.9);
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 1em;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */

.home-menu a {
    padding: 1em;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
    text-align: center;
    font-family: "Quicksand", sans-serif;
}

/* When you mouse over the navigation links, change their color */

.home-menu a:hover {
    background-color: tomato;
    transition: background-color 0.30s ease-in-out;
}

/* Position and style the close button (top right corner) */

.home-menu .closebtn {
    padding: 0;
    font-size: 5em;
}

.home-menu .closebtn:hover {
    color: tomato;
    background-color: transparent;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 700px) {
    .home-menu {
        padding-top: 1em;
    }
    .home-menu a {
        font-size: 1em;
    }
}

/* TOP SECTION */

.bg-image {
    width: 100%;
    height: 100%;
    position: relative;
}

.landing-image {
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.shader {
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: rgba(47, 79, 79, 0.8);
    top: 0;
}

#top-page {
    position: relative;
    height: 100vh;
}

@media only screen and (max-width: 700px) {
    #top-page {
        height: 100vh;
    }
}

.content-container {
    color: white;
    width: 60%;
    height: auto;
    margin-left: 10%;
    text-align: center;
    position: absolute;
    top: 40%;
}

@media only screen and (max-width: 700px) {
    .content-container {
        width: 80%;
        margin-left: 10%;
        top: 20%;
    }
}

@media only screen and (max-width: 350px) {
    .content-container {
        width: 100%;
        margin-left: 0;
        padding: 0 1em;
    }
}

.btn-contact-trigger {
    width: auto;
    height: auto;
    padding: 1em 1.75em;
    border-radius: 5px;
    background-color: tomato;
    color: white;
    font-size: 1em;
    text-transform: capitalize;
    border-style: none;
    margin-top: 1em;
}

.btn-contact-trigger:hover {
    transform: scale(1.05);
    transition: all 0.30s ease-in-out;
    cursor: pointer;
}

.down-arrow-box {
    width: auto;
    height: auto;
    margin-top: 5em;
    text-align: center;
}

@media only screen and (max-width: 700px) {
    .down-arrow-box {
        margin-top: 2em;
    }
}

.down-arrow {
    width: 2em;
    height: 2em;
    position: relative;
    animation: MoveUpDown 2s linear infinite;
}

@keyframes MoveUpDown {
    0%,
    100% {
        bottom: 0;
    }
    50% {
        bottom: 10px;
    }
}

/* WHAT WE DO SECTION */

.what-we-do-section {
    color: white;
    background-color: tomato;
    padding: 1em 0 2em 0;
}

.cards-box {
    width: 100%;
    height: auto;
    padding: 1em;
    display: inline-flex;
    overflow-x: auto;
}

@media only screen and (max-width: 700px) {
    .cards-box {
        padding: 0;
    }
}

.card {
    min-width: 20em;
    height: 30em;
    border-radius: 8px;
    margin: 0.3em;
    background-color: lightslategray;
    display: block;
    white-space: nowrap;
    position: relative;
}

@media only screen and (max-width: 700px) {
    .card {
        min-width: 15em;
        height: 25em;
    }
}

.card img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
}

.foreground-content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 8px;
    background-color: rgba(47, 79, 79, 0.8);
}

.foreground-content:hover {
    background-color: rgba(47, 79, 79, 0.4);
    transition: background-color 0.30s ease-in-out;
}

.foreground-content .title {
    padding: 0 1em;
    text-align: center;
    color: white;
}

.btn-view {
    position: absolute;
    bottom: 2em;
    padding: 1em 1.5em;
    left: 32%;
    border-radius: 5px;
    background-color: white;
    border-style: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    .btn-view {
        left: 30%;
    }
}

.btn-view:hover {
    background-color: tomato;
    color: white;
    transition: all 0.30s ease-in-out;
}

/* SKILLS SECTION */

* {
    box-sizing: border-box
}

.skill-container {
    width: 60%;
    margin: auto;
    background-color: #ebebeb;
    border-radius: 8px;
    font-family: "Fjalla One", sans-serif;
}

@media only screen and (max-width: 700px) {
    .skill-container {
        width: 100%;
    }
}

.skill-section p {
    width: 100%;
    text-align: center;
}

.skills {
    text-align: right;
    padding-right: 20px;
    line-height: 40px;
    color: white;
    border-radius: 8px;
}

.wedding {
    width: 99%;
    background-color: #ff5079;
}

.corporate {
    width: 95%;
    background-color: #2196F3;
}

.engagement {
    width: 97%;
    background-color: #fdc513;
}

.traditional-wedding {
    width: 92%;
    background-color: #00b3b3;
}

/* OUR CLIENTS SECTION */

.clients-page {
    background-color: #f0f0f0;
}

.clients-box {
    width: auto;
    height: auto;
    padding: 0 1em 0 1em;
    display: inline-flex;
    flex-wrap: wrap;
}

.client-logo {
    width: 8em;
    height: 7em;
    margin: 2em 2em 0 0;
    display: inline-flex;
}

/*  WORK WITH US SECTION */

.work-with-section {
    background-color: white;
    height: 15em;
    position: relative;
}

.work-with-section img {
    width: 100%;
    height: inherit;
    display: block;
    object-fit: cover;
    opacity: 1;
    background-position: bottom;
    margin-top: -2em;
}

.work-with-section .btn-contact-trigger {
    width: 40%;
    height: auto;
    margin: auto;
    position: absolute;
    top: 40%;
    left: 30%;
}

/*  FOOTER SECTION */

.footer {
    width: 100%;
    height: auto;
    padding: 1em 0;
    color: #626262;
    text-align: center;
    background-color: #c4c4c4;
}

/* GALLERY PAGE - gallery.html */

.gallery-box {
    width: 100%;
    height: auto;
    background-color: white;
    display: inline-flex;
    margin-top: 6em;
    overflow: hidden;
}

.gallery-menu {
    width: 10%;
    min-width: 15em;
    height: 100%;
    border-radius: 5px;
    padding: 1em 1em 2em 1em;
    background-color: #f0f0f0;
    display: block;
    text-align: left;
    user-select: none;
    position: static;
}

.compact-gallery-menu {
    display: none;
    width: 100%;
    height: auto; 
    border-style: none;
    color: darkslategray;   
    padding: 1em;
    background-color: #d8d8d8;
    margin-top: 7em;
    margin-bottom: 1em;
    position: fixed;
    z-index: 3;
}

.compact-gallery-menu:hover,
.compact-gallery-menu:focus{
    color: white;
    background-color: #484848;
    transition: all 0.50s ease-in-out;
}

#first-select-option{
    color: red;
}

@media only screen and (max-width: 700px) {
    .gallery-box {
        display: block;
        margin-top: 9em;
    }
    .gallery-menu {
        display: none;
    }
    .compact-gallery-menu {
        display: block;
    }
}

#gallery-menu-title {
    color: #626262;
    font-weight: bold;
    padding-bottom: 1em;
    border-bottom: 1px solid #626262;
    text-transform: uppercase;
    font-family: "Fjalla One", sans-serif;
}

.gallery-menu a {
    text-decoration: none;
}

.gallery-menu a p {
    color: #626262;
    margin: 8px 0;
}

.gallery-menu a p:hover {
    color: black;
    cursor: pointer;
}

.gallery {
    width: 100%;
    height: 100%;
    display: table;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 0.5em 0.5em 0.5em;
}

.gallery-image {
    width: 15em;
    height: 15em;
    object-fit: cover;
    padding: 0.2em;
    border-radius: 8px;
    display: inline-flex;
}

.gallery-image:hover {
    cursor: pointer;
    transform: scale(0.975);
    transition: all 0.30s ease-in-out;
}


/* image modal */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(255,99,71); /* Fallback color */
    background-color: rgba(255,99,71,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Add Animation */
.modal-content {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: yellow;
    text-decoration: none;
    cursor: pointer;
    transform: scale(1.5);
    transition: all 0.30s ease-in-out;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}


/* OUR SERVICES PAGE - our-services.html */

.box-title{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    margin: 4em 0 2em 0;
}

.services{
    display: table; 
}

.service-box{
    width: calc(95% / 3);
    height: auto;
    margin: 0 1em 2em 0;
    text-align: center;
    display: inline-block;
}

.service-box img {
    width: 8em;
    height: 8em;
    display: block;
    margin: 0 auto;
    position: relative;
    animation: ScaleUpDown 2s linear 5;
}

@keyframes ScaleUpDown {
    0%,
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

.service-box h3 {
    margin-top: 2em;
    text-transform: uppercase;
}

.service-box p {
    text-align: justify;
    padding: 0 1em;
}

/* quotes slideshow */

/* Slideshow container */
.slideshow-container {
    position: relative;
    background: white;
  }
  
  /* Slides */
  .mySlides {
    display: none;
    padding: 80px;
    text-align: center;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 40px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.4);
    color: white;
  }
  
  /* The dot/bullet/indicator container */
  .dot-container {
      text-align: center;
      padding: 20px;
      background: white;
      margin-bottom: 2em;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  /* Add a background color to the active dot/circle */
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Add an italic font style to all quotes */
  q {
      font-size: 30px;
      font-style: italic;
    }
  
  /* Add a blue color to the author */
  .author {
      color: tomato;
    }
