html,
body {
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

body {
    color: #626262;
}

::-webkit-scrollbar {
    height: 6px;
    width: 10px;
    background: lightsalmon;
    z-index: 5;
}

::-webkit-scrollbar-thumb:horizontal {
    background: white;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:vertical {
    background: white;
    border-radius: 10px;    
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Fjalla One', sans-serif;
}

p {
    font-family: 'Quicksand', sans-serif;
}

/* UNIVERSAL COMPONENTS */

.title {
    font-size: 2em;
    margin: 0.5em 0 0.3em 0;
    padding-bottom: 0.2em;
    text-align: center;
}

.title-line {
    width: 5em;
    height: 1px;
    background-color: tomato;
}

.page {
    width: 100%;
    height: auto;
    padding: 0;
}

.partial-page {
    width: 100%;
    height: auto;
    padding: 2em 0 4em 0;
}

/* position content from middle */

.content {
    width: 80%;
    height: auto;
    margin: 0 auto;
}

@media only screen and (max-width: 700px) {
    .content {
        width: 100%;
        padding: 0 1em;
    }
}

/* HEADER AND ITS COMPONENTS */

.header {
    width: 100%;
    height: 6em;
    padding-top: 1em;
    padding-bottom: 1em;
    position: fixed;
    z-index: 3;
    background: linear-gradient(to bottom, darkslategray 0%, transparent 100%);
}

.header.active {
    color: #626262;
    background-color: white;
    border-bottom: 1px solid tomato;
}

.website-logo {
    width: 6em;
    height: 4em;
    float: left;
}

.site-links-box {
    color: white;
    width: auto;
    height: 100%;
    float: right;
    display: inline-flex;
}

.site-links-box p {
    margin-right: 0.5em;
    padding: 0.25em 0.75em;
    border: 1px solid transparent;
    cursor: pointer;
}

.site-links-box p:hover {
    color: tomato;
    transition: all 0.30s ease-in-out;
}

#contact-header-link {
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: em;
}

#contact-header-link:hover {
    color: white;
    border: 1px solid deepskyblue;
    background-color: deepskyblue;
    transition: all 0.30s ease-in-out;
}

.desktop-view {
    display: inline-flex;
}

.menu-icon{
    width: 2em;
    height: 2em;
    float: right;
    display: none;
    margin-top: 1em;
    margin-right: 1em;
    cursor: pointer;
}

.menu-icon:hover{
    transform: scale(0.95);
    transition: all 0.30s ease-in-out;
}

@media only screen and (max-width: 700px) {
    .desktop-view {
        display: none;
    }

    .menu-icon{
        display: block;
    }
}

/* drop-down menu */

/* The side navigation menu */
.home-menu {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 4; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgba(47, 79, 79, 0.9); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 1em; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.home-menu a {
    padding: 1em;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
    text-align: center;
    font-family: "Quicksand", sans-serif;
}

/* When you mouse over the navigation links, change their color */
.home-menu a:hover {
    background-color: tomato;
    transition: background-color 0.30s ease-in-out;
}

/* Position and style the close button (top right corner) */
.home-menu .closebtn {
    padding: 0;
    font-size: 5em;
}

.home-menu .closebtn:hover {
    color: tomato;
    background-color: transparent;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 700px) {
    .home-menu {padding-top: 1em;}
    .home-menu a {font-size: 1em;}
}




/* TOP SECTION */

.bg-image {
    width: 100%;
    height: 100%;
    position: relative;
}

.landing-image {
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.shader {
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: rgba(47, 79, 79, 0.8);
    top: 0;
}

#top-page {
    position: relative;
    height: 100vh;
}

@media only screen and (max-width: 700px) {
    #top-page {
        height: 100vh;
    }
}

.content-container {
    color: white;
    width: 60%;
    height: auto;
    margin-left: 10%;
    text-align: center;
    position: absolute;
    top: 40%;
}

@media only screen and (max-width: 700px) {
    .content-container {
        width: 80%;
        margin-left: 10%;
        top: 20%;
    }
}

@media only screen and (max-width: 350px) {
    .content-container {
        width: 100%;
        margin-left: 0;
        padding: 0 1em;
    }
}

.btn-contact-trigger {
    width: auto;
    height: auto;
    padding: 1em 1.75em;
    border-radius: 5px;
    background-color: tomato;
    color: white;
    font-size: 1em;
    text-transform: capitalize;
    border-style: none;
    margin-top: 1em;
}

.btn-contact-trigger:hover {
    transform: scale(1.05);
    transition: all 0.30s ease-in-out;
    cursor: pointer;
}

.down-arrow-box {
    width: auto;
    height: auto;
    margin-top: 5em;
    text-align: center;
}

@media only screen and (max-width: 700px) {
    .down-arrow-box {
        margin-top: 2em;
    }
}

.down-arrow {
    width: 2em;
    height: 2em;
    position: relative;
    animation: MoveUpDown 2s linear infinite;
}

@keyframes MoveUpDown {
    0%,
    100% {
        bottom: 0;
    }
    50% {
        bottom: 10px;
    }
}

/* WHAT WE DO SECTION */

.what-we-do-section {
    color: white;
    background-color: tomato;
    padding: 1em 0 2em 0;
}

.cards-box {
    width: 100%;
    height: auto;
    padding: 1em;
    display: inline-flex;
    overflow-x: auto;
}

@media only screen and (max-width: 700px) {
    .cards-box {
        padding: 0;
    }
}

.card {
    min-width: 20em;
    height: 30em;
    border-radius: 8px;
    margin: 0.3em;
    background-color: lightslategray;
    display: block;
    white-space: nowrap;
    position: relative;
}

@media only screen and (max-width: 700px) {
    .card {
        min-width: 15em;
        height: 25em;
    }
}

.card img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
}

.foreground-content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 8px;
    background-color: rgba(47, 79, 79, 0.8);
}

.foreground-content:hover {
    background-color: rgba(47, 79, 79, 0.4);
    transition: background-color 0.30s ease-in-out;
}

.foreground-content .title {
    padding: 0 1em;
    text-align: center;
    color: white;
}

.btn-view {
    position: absolute;
    bottom: 2em;
    padding: 1em 1.5em;
    left: 32%;
    border-radius: 5px;
    background-color: white;
    border-style: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    .btn-view {
        left: 30%;
    }
}

.btn-view:hover {
    background-color: tomato;
    color: white;
    transition: all 0.30s ease-in-out;
}

/* SKILLS SECTION */

* {
    box-sizing: border-box
}

.skill-container {
    width: 60%;
    margin: auto;
    background-color: #ebebeb;
    border-radius: 8px;
    font-family: "Fjalla One", sans-serif;
}

@media only screen and (max-width: 700px) {
    .skill-container {
        width: 100%;
    }
}

.skill-section p {
    width: 100%;
    text-align: center;
}

.skills {
    text-align: right;
    padding-right: 20px;
    line-height: 40px;
    color: white;
    border-radius: 8px;
}

.wedding {
    width: 99%;
    background-color: #ff5079;
}

.corporate {
    width: 95%;
    background-color: #2196F3;
}

.engagement {
    width: 97%;
    background-color: #fdc513;
}

.traditional-wedding {
    width: 92%;
    background-color: #00b3b3;
}

/* OUR CLIENTS SECTION */

.clients-page {
    background-color: #f0f0f0;
}

.clients-box {
    width: auto;
    height: auto;
    padding: 0 1em 0 1em;
    display: inline-flex;
    flex-wrap: wrap;
}

.client-logo {
    width: 8em;
    height: 7em;
    margin: 2em 2em 0 0;
    display: inline-flex;
}

/*  WORK WITH US SECTION */

.work-with-section {
    background-color: white;
    height: 15em;
    position: relative;
}

.work-with-section img {
    width: 100%;
    height: inherit;
    display: block;
    object-fit: cover;
    opacity: 1;
    background-position: bottom;
    margin-top: -2em;
}

.work-with-section .btn-contact-trigger {
    width: 40%;
    height: auto;
    margin: auto;
    position: absolute;
    top: 40%;
    left: 30%;
}

/*  FOOTER SECTION */

.footer {
    width: 100%;
    height: auto;
    padding: 1em 0;
    color: #626262;
    text-align: center;
    background-color: #c4c4c4;
}