html {
    width: 100%;
    height: 100%;
    background-color: white;
}

body {
    margin: 0;
    padding: 0;
    width: inherit;
    height: inherit;
    font-family: 'Quicksand', sans-serif;
    color: #626262;
}

hr{
    margin-bottom: 1em;
}



/* inputs */

.input-box {
    width: 40%;
    display: block;
    margin-bottom: 1.5em;
}

.login-input-box {
    width: 100%;
    display: block;
    margin-bottom: 1.5em;
}

.input-box p {
    font-size: 1em;
    margin: 0 0 0.5em 0;
}

.input {
    width: 100%;
    padding: 1em;
    border-style: none;
    background-color: #f0f0f0;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    margin-bottom: 0.5em;
}

@media only screen and (max-width: 700px) {
    .input {
        width: calc(100% - 2em);
    }
}

.input:hover,
.input:focus {
    border-radius: 0;
    background-color: white;
    border: 1px solid gainsboro;
    outline: 0;
    border-radius: 5px;
    transition: all 0.40s ease-in-out;
}

.submit-button {
    color: tomato;
    padding: 0.25em 1em;
    border-style: none;
    border: 1px solid tomato;
    border-radius: 20px;
    background-color: transparent;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    transition: all 0.40s ease-in-out;
}

.submit-button:hover {
    color: white;
    cursor: pointer;
    border-radius: 5px;
    background-color: tomato;
}

textarea{
    width: 100%;
    height: auto;
    min-height: 5em;
    padding: 1em;
    background-color: #f0f0f0;
    border-radius: 5px;
    border: 1px solid gainsboro;
    transition: all 0.40s ease-in-out;
}

@media only screen and (max-width: 700px) {
    textarea {
        width: calc(100% - 2em);
    }
}

textarea:hover,
textarea:focus{
    background-color: white;
    outline: 0;
}

select{
    width: calc(100% + 1.5em);
    padding: 1em;
    background-color: #f0f0f0;
    border-radius: 5px;
    border: 1px solid gainsboro;
    margin-bottom: 0.5em;
    transition: all 0.40s ease-in-out;
}

@media only screen and (max-width: 700px) {
    select {
        width: 100%;
    }
}

select:hover,
select:focus{
    background-color: white;
    border-radius: 5px;
    transition: all 0.40s ease-in-out;
}



.content {
    width: 70%;
    height: auto;
    margin: auto;
    position: relative;
}

@media screen and (max-width: 1000px) {
    .content {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    .content {
        width: 100%;
    }
}

header {
    width: 100%;
    height: auto;
    padding: 0.5em 1em;
    background-color: #f0f0f0;
    border-bottom: 1px solid gainsboro;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 3;
}

.website-title {
    width: auto;
    color: #626262;
    font-weight: bold;
    padding: 0;
    margin: 0.25em 0 0 0;
    text-transform: uppercase;
}

.more-button {
    width: 2em;
    height: 2em;
    margin-top: 4px;
    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.30s ease-in-out;
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    .more-button {
        width: 1.5em;
        height: 1.5em;
    }
}

.more-button:hover {
    transform: scale(0.95);
}

.return-button {
    width: 2em;
    height: 2em;
    margin-top: 4px;
    transition: all 0.30s ease-in-out;
    cursor: pointer;
}

.return-button:hover {
    transform: scale(0.95);
}

.edit-image-title {
    color: gray;
    width: auto;
    height: auto;
    float: right;
    margin: 0;
}



/* tabs */

.tab {
    overflow: hidden;
    margin-top: 0.5em;
}

@media only screen and (max-width: 700px) {}

/* Style the buttons inside the tab */

.tab button {
    color: #939393;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.5em 0.25em;
    margin-right: 1em;
    transition: all 0.3s ease-in-out;;
    font-size: 17px;
    border-bottom: 1.5px solid lightgray;
}

@media only screen and (max-width: 700px) {
    .tab button{
        font-size: 0.85em;
    }
}

/* Change background color of buttons on hover */

.tab button:hover {
    color: #626262;
    border-bottom: 1.5px solid #a8a8a8;
}

/* Create an active/current tablink class */

.tab button.active {
    color: #626262;
    border-bottom: 1.5px solid tomato;
}

/* Style the tab content */

.tabcontent {
    display: none;
    padding: 1em;
    padding-top: 7em;
    border-radius: 8px;
}

.tabcontent-image{
    margin-bottom: 1em;
}

@media only screen and (max-width: 700px) {}

table {
    width: 100%;
    border-collapse: collapse;
}

table th {
    text-align: left;
    border-bottom: 1px solid gainsboro;
}

table tr:nth-child(even) {
    background-color: #f7f7f7;
}

table tr td img {
    width: 6em;
    height: auto;
    display: block;
    margin: auto;
}

table tr .info {
    column-span: 3;
    height: auto;
    padding: 0 1em;
    text-align: left;
    display: block;
}

@media only screen and (max-width: 700px) {
    table tr .info {
        padding: 0 0.5em;
    }
}

.portfolio-title{
    margin: 0.5em 0 0.25em 0;
}

.portfolio-description{
    margin: 0.5em 0 0.25em 0;
}

.portfolio-date {
    font-size: 0.85em;
    color: darkturquoise;
    margin: 0.25em 0;
}

table tr .info div {
    display: inline-flex;
}

/* MESSAGES */

.write-message-div {
    display: block;
    padding: 1em;
    background-color: white;
    margin-bottom: 1em;
    border-radius: 8px;
}

.write-message-div textarea {
    width: 100%;
    height: auto;
    min-height: 5em;
    border-radius: 5px;
    margin-bottom: 1em;
}

.write-message-div button {
    color: #626262;
    width: auto;
    height: auto;
    padding: 0.5em 1em;
    border-radius: 25px;
    margin-bottom: 0.5em;
    border-style: none;
    background-color: white;
    border: 1px solid turquoise;
    margin-left: 0;
}

.write-message-div button:hover {
    color: darkturquoise;
    transition: color 0.30s ease-in-out;
    cursor: pointer;
}

.news-messages-item {
    width: auto;
    height: auto;
    padding: 1em 1em;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 0.75em;
    border: 1px solid white;
}

.news-messages-item:hover {
    border: 1px solid turquoise;
    transition: all 0.30s ease-in-out;
}

.news-messages-item .news {
    color: #626262;
    width: auto;
    height: auto;
    margin: 0;
    font-weight: bold;
    text-align: left;
}

.news-messages-item .news-message-date {
    color: black;
    width: 12em;
    height: auto;
    text-align: left;
    margin: 0;
    padding: 0.25em 0.5em 0.25em 0;
    background-color: white;
    opacity: 0.5;
    border-radius: 5px;
}

/* form input components */


/* BOTTOMSHEET */

.bottomsheet {
    width: 100%;
    height: auto;
    padding: 1em;
    position: fixed;
    bottom: 0;
    background-color: turquoise;
    display: none;
}

.bottomsheet-item {
    width: 100%;
    padding: 1em;
    display: inline-flex;
    border-radius: 8px;
    opacity: 0.8;
    background-color: white;
}

.bottomsheet-item:hover {
    opacity: 1;
    transition: opacity 0.30s ease-in-out;
    cursor: pointer;
}

.bottomsheet-item img {
    width: 2em;
    height: 2em;
    margin-right: 2em;
}

.bottomsheet-item h4 {
    margin: 0 0 0 0;
}

/* EDIT-ARTWORK */

.edit-container {
    width: 100%;
    height: auto;
    padding: 1em;
    margin-top: 2em;
}

.edit-container h3 {
    color: darkturquoise;
    width: 100%;
    height: auto;
    margin-bottom: 1em;
}

form img{
    width: auto;
    height: 10em;
    display: block;
}

/* REGISTRATION */

.hey-page {
    background-color: gainsboro;
    padding-top: 20vh;
}

.content-box {
    width: 20em;
    height: auto;
    display: block;
    padding: 1em;
    margin: auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    user-select: none;
}

@media only screen and (max-width: 400px) {
    .content-box {
        width: 90%;
    }
}

.hey-content-title {
    margin: 0 0 0.5em 0;
    color: tomato;
}

.hey-box{
    width: 100%;
}

#login-box {
    display: block;
}

#new-account-box {
    display: none;
}

.toggle-boxes {
    cursor: pointer;
}

.toggle-boxes span {
    color: #4cffcf;
}



/* quote box */

.quote-box{
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 0.5em;
    padding: 1em;
    background-color: #f0f0f0;
    border: 1px solid gainsboro;
    border-radius: 5px;
}

.quote{
    font-weight: bold;
}

.quoted-person{
    margin-right: 1em;
    margin-bottom: 0;
}

.quote-box div{
    display: inline-flex;
}

.remove-quote{
    float: right;
    color: gray;
    padding: 0.25em 1em;
    border-style: none;
    border: 1px solid gray;
    border-radius: 20px;
    background-color: transparent;
    margin-left: 1.5em;
    cursor: pointer;
    transition: all 0.40s ease-in-out;
}

.remove-quote:hover{
    color: red;
    border: 1px solid red;
}
